{% extends "layout.jinja2" %}

{% block text %}
    {% if context.index %}
        {{ request.render_markdown(context.index.text)|safe }}
    {% else %}
        <h1> Crivens ! </h1>
        <p>
            If a markdown document is added at this path:
        </p>
        <p class="text-info">
            ~/{{ request.traversed|join('/') }}{{'/' if request.traversed}}index{{ request.markdown_extension }}
        </p>
        <p>
            it's content would be displayed here…
        </p>
    {% endif %}
{% endblock text %}

{% block explore %}
    {{ folder_list(context) }}
{% endblock explore %}