<!DOCTYPE html>
<html lang="{{request.locale_name}}">

{% macro folder_list(folder) -%}
    <ul class="nav flex-column">
        {% if folder != request.root %}
            <li class="nav-item">
                <a class="nav-link" href="{{request.resource_path(folder.__parent__)}}">d ..</a>
            </li>
        {% endif %}
        {% for resource in folder %}
            <li class="nav-item">
                {% if resource.__name__ == context.__name__ %}
                    <a class="nav-link active" href="{{request.resource_path(resource)}}">
                        <span class="pyragit-resource-type">&gt;</span>
                        {{resource.__name__}}
                    </a>
                {% else %}
                    <a class="nav-link" href="{{request.resource_path(resource)}}">
                        <span class="pyragit-resource-type">{{'d' if resource.type == 'tree' else 'f'}}</span>
                        {{resource.__name__}}{{'/' if resource.type == 'tree'}}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{%- endmacro %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--
        <link rel="shortcut icon" href="{{request.static_url('pyragit:static/pyramid-16x16.png')}}">
    -->

    {% if context.type == 'blob' %}
        <base href="{{ request.resource_url(context.__parent__) }}">    
    {% endif %}
    
    <title>dw:~/{% for name in request.traversed %}{{ name if loop.last else name[0]+'/'}}{% endfor %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this scaffold -->
    <link href="{{request.static_url('pyragit:static/theme.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" integrity="sha384-f1r2UzjsxZ9T4V1f2zBO/evUqSEOpeaUUZcMTz1Up63bl4ruYnFYeM+BxI4NhyI0" crossorigin="anonymous"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col mt-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">daftwullie:~</a></li>
                        {% for name in request.traversed %}
                            {% if loop.last %}
                                <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
                            {% else %}
                                <li class="breadcrumb-item"><a href="{{ request.resource_path(request.root, *request.traversed[:loop.index]) }}">{{name}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mt-2 pyragit-content">
                {% block text %}
                    <p>Text Column</p>
                {% endblock text %}
            </div>
            <div class="col-lg mt-2 pyragit-explore">
                {% block explore %}
                    <p>Explore Column</p>
                {% endblock explore %}
            </div>
        </div>
    </div>
</body>

</html>
