{% extends "layout.jinja2" %}

{% block text %}
    {{ request.render_markdown(context.text)|safe }}
    
    <hr>
    {{ context.last_commit() }}
{% endblock text %}

{% block explore %}
    {{ folder_list(context.__parent__) }}
{% endblock explore %}